@use 'config' as *;
$bg_highlight: #f5f7fa7e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 10px;
  // touch-action: none;

  &.animate {
    .intersects {
      transform: translate(0, 0) !important;
      opacity: 1 !important;
      scale: 1 !important;
    }
  }

  @include media(max, $lrg) {
    font-size: 9px;
  }
}

body {
  background-color: $bg_main;
  color: $clr_txt;
  overflow-x: hidden;
  // height: 1500vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr_hdg;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: all ease $trans_short;
  color: $clr_txt;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all ease $trans_short;
  color: $clr_txt;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

.img_wrapper:not(.logo_text .img_wrapper) {
  overflow: hidden;
}

.center_sect {
  margin-inline: auto;
  padding: 8rem $pad_inline_gen;

  &.sect {
    @include flex(flex-start, flex-start, column);
    gap: 2.5rem;

    @include media(min, $lrg) {
      flex-direction: row;
      justify-content: space-between;
      gap: 3.5rem;
    }
  }

  @include media(max, $mid) {
    max-width: $mid;
  }

  @include media(min, $mid) {
    width: 600px;
  }

  @include media(min, $lrg) {
    width: $lrg;
  }

  @include media(min, $xlrg) {
    width: $xlrg;
  }
}

.logo_text a {
  font-size: 3rem;
  color: inherit;

  .img_wrapper {
    display: inline-block;
    width: 3rem;
    margin-inline: -3px;
    margin-bottom: -3px;
    position: relative;

    .ray {
      position: absolute;
      display: inline-block;
      width: 0.1rem;
      height: 1rem;
      background-color: #ffd700;
      box-shadow: 0 0 10px 1px #ffd700, 0px 0px 10px 2px #ffd700;
      top: -5px;
      opacity: 0;

      &:first-of-type {
        transform: rotate(-30deg);
        left: 6px;
        animation: rayAnim 2s linear infinite;
      }

      &:nth-of-type(2) {
        height: 1.3rem;
        top: -9px;
        left: 50%;
        animation: rayAnim 2s linear 200ms infinite;
      }

      &:last-of-type {
        right: 6px;
        transform: rotate(30deg);
        animation: rayAnim 2s linear 75ms infinite;
      }
    }

    img {
      display: block;
    }
  }
}

.mouse_light {
  --x: 50%;
  --y: 50%;
  width: 100vw;
  height: 100vh;
  @include position(fixed, left, top, 0, 0);
  background: radial-gradient(
    50vw circle at var(--x) var(--y),
    $bg_light,
    transparent 50%
  );
  opacity: 0.7;
  z-index: -1;
}

.cta_btn {
  color: $clr_sub;
  background-color: $clr_acc;
  border-radius: 1rem;

  &:hover {
    background-color: darken($clr_acc, 20%);
  }
}

.bottom_backlight {
  background: radial-gradient(
    100vw circle at center bottom,
    $bg_light,
    transparent 50%
  );
}

.top_backlight {
  background: radial-gradient(
    100vw circle at center top,
    $bg_light,
    transparent 50%
  );
}

.clip_container {
  position: relative;
  .wrapper {
    width: 100%;
    border-radius: $brd_rad_img;
    overflow: hidden;
    transition: all ease $gen_anim_trans;
    transform: translate(-30px, -30px);
    opacity: 0;
  }

  .info_box {
    display: none;
    text-align: right;
    transition: all ease $gen_anim_trans;
    transform: translateX(30px);
    opacity: 0;

    &.show {
      display: block;
    }

    @include media(min, $mid) {
      display: block;
    }
  }
}

.text_over_top,
.text_over_bottom {
  width: 250px;
  padding: 10px 15px;
  font-size: 1.5rem;
  line-height: 1.5;

  @include media(min, $xlrg) {
    width: 300px;
  }
}

.text_over_top {
  @include position(absolute, right, top, 0, 0);
}

.text_over_bottom {
  @include position(absolute, right, bottom, 0, 0);
}

.bottom_line {
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    @include position(absolute, left, bottom, 0, 0);
    background: $bg_line_grad;
  }
}

.top_line {
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    @include position(absolute, left, top, 0, 0);
    background: $bg_line_grad;
  }
}

.scroll_eff img {
  transform-origin: 50% 50%;
  scale: 1.1;
  display: block;
  transition: 0.3s transform;
  position: relative;
}

.scroll_eff2 {
  opacity: 0;
  transition: all ease $gen_anim_trans;
  @include media(min, $xlrg) {
    aspect-ratio: 2/1;
    width: 100%;
  }
}

.box_highlight {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
  }

  &::after {
    background: radial-gradient(
      800px circle at var(--x) var(--y),
      $bg_light,
      transparent 40%
    );
  }

  &::before {
    background: radial-gradient(
      80rem circle at var(--x) var(--y),
      $bg_highlight,
      transparent 40%
    );
    mask: linear-gradient(#000, #000) content-box content-box,
      linear-gradient(#000, #000);
    padding: 1px;
    mask-composite: exclude;
  }
}

.sect_info {
  * {
    margin-bottom: var(--margin_block);
  }
  transform: translateX(-20px);
  opacity: 0;
  transition: ease $gen_anim_trans;
  color: $clr_hdg;

  @include media(min, $lrg) {
    position: sticky;
    top: 150px;
    margin-top: -10px;
  }

  .heading {
    font-size: 4rem;

    @include media(min, $mid) {
      font-size: 4.5rem;
    }

    @include media(min, $xlrg) {
      font-size: 5rem;
    }
  }

  p {
    font-size: 1.9rem;
    width: 90%;
    line-height: 1.4;

    @include media(min, $mid) {
      font-size: 2rem;
    }

    @include media(min, $lrg) {
      width: 100%;
    }

    @include media(min, $xlrg) {
      font-size: 2.2rem;
    }
  }

  a {
    * {
      margin-bottom: 0;
    }

    @include flex();
    margin-bottom: 0;
    font-size: 1.5rem;
    width: fit-content;
    margin-left: auto;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    position: relative;
    align-items: center;
    color: $clr_hdg;

    @include media(min, $mid) {
      font-size: 1.2rem;
    }

    &:hover {
      .title::before {
        width: 0;
      }

      .icon {
        scale: 1.2;
      }
    }

    .title {
      position: relative;
      display: inline-block;
      padding-block-end: 5px;

      &:before {
        content: '';
        @include position(absolute, left, bottom, 0, 0);
        width: 100%;
        height: 2px;
        background-color: $clr_sub;
        transition: ease $trans_mid;
      }
    }

    .icon {
      font-size: 3rem;
      position: relative;
      top: 4px;
      transition: ease $trans_mid;

      @include media(min, $mid) {
        font-size: 3.2rem;
      }
    }
  }
}

.sect_opt {
  background-color: $bg_sub;
  border-radius: 1rem;
  padding: 2rem;
  transition: ease $gen_anim_trans;
  opacity: 0;
  scale: 0.8;
}

.page_heading {
  text-align: center;
  padding-block-start: 60px;

  .center_sect {
    @include media(min, $mid) {
      padding-block: 100px;
    }

    @include media(min, $xlrg) {
      padding-block: 130px;
    }

    .int_heading {
      transform: translateY(20px);
    }

    .int_info {
      transform: translateY(20px);
      transition-delay: 200ms;
    }

    h1 {
      text-transform: capitalize;
      font-size: 5rem;
      margin-bottom: 20px;

      @include media(min, $mid) {
        font-size: 6rem;
      }

      @include media(min, $lrg) {
        font-size: 6.5rem;
        margin-bottom: 40px;
      }

      @include media(min, $xlrg) {
        font-size: 7.5rem;
      }
    }

    p {
      font-size: 1.9rem;
      color: $clr_hdg;
      margin-inline: auto;

      @include media(min, $mid) {
        max-width: 500px;
        font-size: 2rem;
      }

      @include media(min, $lrg) {
        max-width: 600px;
      }
    }
  }
}

.int_wrapper {
  opacity: 0;
  transition: all ease $gen_anim_trans;
}

.sect_heading {
  text-align: center;
  padding: 10px 0 20px;

  @include media(min, $mid) {
    padding: 10px 0 30px;
  }

  @include media(min, $xlrg) {
    padding: 10px 0 40px;
  }

  .int_heading {
    transform: translateY(20px);
  }

  .int_info {
    transform: translateY(20px);
    transition-delay: 200ms;
  }

  h1 {
    text-transform: capitalize;
    font-size: 3.5rem;
    margin-bottom: 20px;

    @include media(min, $mid) {
      font-size: 4.5rem;
    }

    @include media(min, $xlrg) {
      font-size: 5.5rem;
    }
  }

  p {
    font-size: 1.7rem;
    color: $clr_hdg;
    margin-inline: auto;
    line-height: 1.5;

    @include media(min, $mid) {
      max-width: 500px;
      font-size: 2rem;
    }

    @include media(min, $lrg) {
      max-width: 800px;
      font-size: 2.2rem;
    }
  }
}

.spinner {
  width: 100%;
  background-color: $bg_sub;
  @include flex(center, center);
  font-size: 3rem;

  &.overlay {
    @include position(absolute, left, top, 0, 0);
    height: 100%;
    z-index: 1;
  }

  .icon {
    svg {
      animation: spinAnim 1.5s linear infinite;
    }
  }
}

@keyframes spinAnim {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
